[submodule "docs/cvl/cvl2/cvl1"]
	path = docs/cvl/cvl2/cvl1
	url = git@github.com:Certora/CVL2Migration.git
	branch = cvl1
[submodule "docs/cvl/cvl2/cvl2"]
	path = docs/cvl/cvl2/cvl2
	url = git@github.com:Certora/CVL2Migration.git
	branch = cvl2
[submodule "Examples"]
	path = Examples
	url = https://github.com/Certora/Examples.git
