# Repo specifics
build

# Python
__pycache__
**/__pycache__

# Certora
.certora_internal/
.certora_recent_jobs.json
.zip-output-url.txt

# vim
.*.swp
.*.swo

# JetBrains (Pycharm)
*.DS_Store
.idea/

#direnv
.envrc
.direnv


# Virtual environment
.venv/

# dev files
reference_files/

# error files
errors.txt
