Verification
============

```{todo}
This section is incomplete. See {doc}`options`.
```

