Verification
============

```{todo}
This section is incomplete. See [the user guide](/docs/user-guide/getting-started/running)
and also {doc}`options`.
```

