details {
    border: .5px solid lightgray;
    border-radius: 4px;
    padding: .5em .5em 0;
    margin: 1em;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}
  
  
  

    
    
    
